{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daniel Damkoehler</title>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="{% static 'css/reset-ancient.css' %}">-->
</head>
<body>
    <header>
        <div><a href="{% url 'home' %}">daniel damkoehler</a></div>
        {% load flatpages %}
        {% get_flatpages as flatpages %}
        <nav>
            <ul>
            {% for page in flatpages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </div>

    <footer>
        <p>Copyright &copy; Daniel Damkoehler</p>
    </footer>
</body>
</html>